.Service {
    display: flex;
    flex-direction: column;
    border: black solid 1px;
    height: 100%;
}

.Name {
    display: flex;
    justify-content: center;
    font-size: 1.45rem;
    padding: 1rem;
    background: rgb(244, 244, 244);
    font-weight: normal;
    margin: 0;
}

.Details {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    padding: 1rem;
}

.Price {
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.Description {
    text-align: center;
    margin: 0;
}

.Time {
    text-align: center;
}

.Booking {

}

.Services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 70%;
    height: 90%;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}